{% block white %}
    <div class="white">
        <div class="help">Besoin d'aide ? Appelez-nous : (+33) 09 20 20 20 20</div>
        <div class="pictos-right">
            <div class="store">
                <i class="fa-solid fa-location-dot"></i>
                Notre magasin
            </div>
            <div class="order">
                <i class="fa-solid fa-truck"></i>
                Suivre votre commande
            </div>
        </div>
    </div>
{% endblock %}