{% block categories_menu %}
    <div class="menu-categories">
        <a href="{{ path('app_categories') }}">
            <div class="menu-categories-item">
                <p>Accueil</p>
                <i class="fa-solid fa-chevron-right chevron1"></i>
            </div>
        </a>
        <a href="{{ path('app_categories') }}">
            <div class="menu-categories-item">
                <p>Catégories</p>
                <i class="fa-solid fa-chevron-right"></i>
            </div>
        </a>
    </div>
{% endblock %}