{% block categories_menu %}
    <div class="categories-menu">
        <p>Accueil</p>
        <i class="fa-solid fa-chevron-right"></i>
        <p>Catégories</p>
        <i class="fa-solid fa-chevron-right"></i>
    </div>
{% endblock %}