{% extends 'base.html.twig' %}

{% block title %}catégories{% endblock %}

{% block body %}

    {% include '_parts/categories-menu-bar.html.twig' %}

    <div class="container">
        <div class="row">
            {% for category in categories %}
            
                <div class="col">
                    <a href="{{ path('app_category', {id: category.id}) }}">
                        <div class="card">
                            <img src="{{ asset('category-images/' ~ category.imagePath) }}">
                            <h3>{{ category.title }}</h3>
                        </div>
                    </a>
                </div>

            {% endfor %}            
        </div>
    </div>

{% endblock %}
